<!-- 

Copyright 2016-present, Facebook, Inc.
All rights reserved.

This source code is licensed under the license found in the
LICENSE file in the root directory of this source tree.

-->
<html>
  <head>
    <title>Debug Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />

  </head>
  <body id="debugMainPage">

  <h1>Временно -  <a href="/debug/">правильная ссылка на этот раздел</a></h1>

  <h2>Чат-страница</h2>
  <a href="chat" class="alert" target="_blank">/debug/chat</a>

  <!--<a href="#" class="alert" >test</a>-->

  <!--<a href="mail.ru" class="alert" target="_blank">test</a>-->

<h1>Основные запросы, которые могут прийти из Facebook (отправленные клиентом)</h1>

  <table class="mainTable">

    <colgroup><col width="25%"><col width="75%"> </colgroup>
    <tr><th>Запрос</th><th>Url</th></tr>

    <tr><td>Список заказанных карт и состояние их готовности </td><td>

        <table class="detailsTable">
          <colgroup><col width="25%"><col width="75%"> </colgroup>
          <tr><td>Не корректный ИНН</td><td><a href="getCustomerRequestedCardInfo?crf=1abc23456" target="_blank">getCustomerRequestedCardInfo?crf=1abc23456</a></td></tr>
          <tr><td>Нет клиента с ИНН</td><td><a href="getCustomerRequestedCardInfo?crf=123456" target="_blank">getCustomerRequestedCardInfo?crf=123456</a></td></tr>
          <tr><td>Мульти филиальный клиент (нельзя по ИНН найти pin однозначно)</td><td><a href="getCustomerRequestedCardInfo?crf=7728168971" target="_blank">getCustomerRequestedCardInfo?crf=7728168971</a></td></tr>
          <tr><td>Нет карт для клиента</td><td><a href="getCustomerRequestedCardInfo?crf=5036064310" target="_blank">getCustomerRequestedCardInfo?crf=5036064310</a></td></tr>
          <tr><td>Есть карты для клиента</td><td><a href="getCustomerRequestedCardInfo?crf=xxx" class="alert" target="_blank">getCustomerRequestedCardInfo?crf=xxx ??</a></td></tr>

        </table>


      </td></tr>

  </table>


  </body>
</html>