/*html {
  background: url(../assets/alfabank-background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.facebook-plugin-container {
	padding-top: 10px;
	padding-bottom: 10px;
}

.facebook-container {
	margin-top: 50px;
	margin-left: 50px;
}
*/

/* =Reset
-------------------------------------------------------------- */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0;
}

html,
body,
div{
    margin: 0;
    padding: 0;
}
/* =Color
-------------------------------------------------------------- */

#header{
    background: #cccccc;
}

#main{
    background: #dddddd;
}
/* =Structures
-------------------------------------------------------------- */

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

#primary{
    max-width: 650px;
    margin: 0 auto;
}